<div class="album-box2">
	<p class="cart-top"><%= current_user.email %>さんのカート内商品一覧</p><!--ここはまだ名前カラムをユーザーテーブルに作ってないのでメールで仮置きしてます-->

	<% @carts.each do |cart| %>
	<% if current_user.id == cart.user_id %>
	<div class="album-image2"></div><!--商品画像がここにくる-->
	<div class="album-text">Artist<%= cart.item.artist_name %><br>
		<p class="title"><%= cart.item.item_name %></p>
		レーベル ジャンル<br><br>
		sample text<br>
		sample text<br><br>
	</div>
	<div class="price-box1">
		<!-- 商品１つあたりの金額 -->
		<%= cart.item.price %>円<br>
		<%= form_for(cart, url: cart_path(cart.id), html: {method: 'PUT'}) do |f| %><!--商品の個数を変更するフォーム-->
			<%= f.number_field :count ,min:1,max:10 %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :item_id, :value => cart.item.id %>
			<%= f.submit "個数を変更" %>
		<% end %>
		<%= link_to "削除", cart_path(cart.id), method: :delete %><br><!--商品削除ボタン-->
		<!-- １商品の合計金額 -->
		小計<%= cart.item.price*cart.count %>円<br>
	</div>
</div>

	<div class="price-box2">
		送料：　540円<br>
		<!-- カートの合計金額 -->
		カート内合計金額：<%= @total_price+540 %>円<br>
	</div>
	<% end %>
	<% end %>
	<div class="address-box"><br><br>
		<!-- 送り先情報 -->
		<p class="title">配送先情報</p>
		<div class="price-box1"><a href="#" class="square_btn3">購入</a></div>

	  <label for="option-a"></label>
	  <input id="option-a" type="text" name="message-body" placeholder="配送先住所を選択">
	  <div class="adress-box2">
		<label for="message-body"></label>
		<textarea id="message-body" type="text" name="message-body" placeholder="名前" ></textarea><br>
		<label for="message-body"></label>
		<textarea id="message-body" type="text" name="message-body" placeholder="電話番号"></textarea><br>
		<label for="message-body"></label>
		<textarea id="message-body" type="text" name="message-body" placeholder="郵便番号"></textarea><br>
		<label for="message-body"></label>
		<textarea id="message-body" type="text" name="message-body" placeholder="住所"></textarea><br>
	  <br>
	</div>
   <br><br>
</div>
</div>
