<h1>CD一覧<h4><%=link_to("カテゴリー編集","/categories/index")%></h4></h1>
<!--検索フォーム-->
商品検索
　<%= search_form_for @q,url: items_path do |f| %>
	  <%= f.search_field :artist_name_or_label_name_or_item_name_cont %>
	  <%= f.submit "search",class: 'record-form__submit-button' %><br><br>
  <% end %>
	<div class="container">
		<thead>
			<tr>
			<% @items.each do |item| %>
			<td><div class="item_image">
				<!--画像画面左　登録がない場合noimageを表示-->
				<%#= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg', fallback: "noimage_panda1.jpg",class:"item_image" %></div></td>
				<!--商品内容-->
				<td><div>artist name:<%= item.artist_name %></div>
				<div>cd name:<%= item.item_name %></div>
				<div>label:<%= item.label_name %></div>
				<div>stock:<%= item.stock %></div>
				<div>price:￥<%= item.price %></div>
				<%=link_to("編集する","/items/#{item.id}/edit")%><br>
				<%=link_to "削除する", item_path(item.id), method: :delete, "data-confirm" => '削除してよろしいですか？' %><br>
			<% end %></td>
			</div>
		</div>
	</div>
</tr>
</thead><br><br>