<!-- <form> -->
<!--親要素 -->
<%= form_for(@item, url: items_path) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= @item.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>商品登録</h2>
  <div class="row">
  　<div class="col-sm-12">
      ジャケット画像　<%= f.attachment_field :image %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group has-icon">
        アーティスト名　<%= f.text_field :artist_name, class:"form-control" %>
        <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      タイトル　　　　<%= f.text_field :item_name, class:"form-control", rows:"3" %>
    </div>
  </div>
  <!--カテゴリー登録-->
      カテゴリー　　　<%= f.collection_select :category_id, Category.all, :id, :name %>
  <div class="row">
    <div class="col-sm-12">
      レーベル　　　　<%= f.text_field :label_name, class:"form-control", rows:"3" %>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
      価格　　　　　　<%= f.text_field :price, class:"form-control", rows:"3" %>
    </div>
  </div>
  <br>
   <div class="row">
    <div class="col-sm-12">
      在庫数　　　　　<%= f.text_field :stock, class:"form-control", rows:"3" %>
    </div>
  </div>
     <div class="row">
    <div class="col-sm-12">
      リリース日　　　<%= f.text_field :release_date, class:"form-control", rows:"3" %>
    </div>
  </div>
    <!--子要素 -->
    <%= f.fields_for :discs do |d|%>
        <% @item.discs.each do |f| %>
    ディスク番号　　<%= d.text_field :disc_name %><br>
      <!--孫要素 -->
      <%= d.fields_for :songs do |s|%>
      　　　　　　　　<%= s.text_field :number, :size=>"5",:placeholder=> "曲順" %> <%= s.text_field :song_name,:placeholder=> "曲名" %><br>
      <% end %>
     <% end%>
    <% end %>
  <hr>
  <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  <%= link_to"一覧に戻る", "/" %>
<% end %>
<!-- </form> 