<h1>商品詳細画面</h1>
<%= @item.item_name %>
<%= @item.price %>円

	<%= form_for @cart do |f| %>
	<%= f.number_field :count ,min:1,max:10 %>
	<%= f.hidden_field :item_id, :value => @item.id %>
	<%= f.submit "カートに入れる" %>
	<% end %>


